[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==5.4.*"
inflection = "==0.5.*"
requests = "==2.25.*"

[dev-packages]
ipython = "*"
build = "*"
pytest-mypy = "*"
pytest-sugar = "*"
python-language-server = {extras = ["pycodestyle", "pydocstyle", "pyflakes", "rope", "yapf"], version = "*"}

[requires]
python_version = "3.8"
