[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==5.4.*"
inflection = "==0.5.*"
requests = "==2.25.*"

[dev-packages]
ipython = "*"
build = "*"

[requires]
python_version = "3.8"
