[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = "==5.4.*"
click = "==7.1.*"
inflection = "==0.5.*"
requests = "==2.25.*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.8"
